
/*フォントサイズの基準は16px=1.0em*/

a.logo{
  text-decoration: none;
  font-family: 'Roboto';
}

a.logo:link{color: #fc433a;}
a.logo:visited{color: #fc433a;}
a.logo:hover{color: #fc433a;}
a.logo:active{color: #fc433a;}

.title{
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

.card{
  height: 27.5em;
}

.card-title{
  height: 3.85em;
}

.card-subtitle{
  font-size:  0.9em;
}

.list-group-item{
  font-size: 0.9em;
}

.bg-warning{
  font-size:  1.0em;
}

.bg-info{
  font-size:  1.0em;
}
